{% extends 'base.html.twig' %}

{% block title %}Liste{% endblock %}

{% block body %}
<div class="row mt-5 text-center">
    <h3>Liste wish</h3>    
</div>

<div class="row mt-5"> 
    <div class="col-8 offset-2">
        {% include "helper/_flash.html.twig" %}
        <table class="table">
            <thead>
                <tr>
                    <th>N°</th>
                    <th>Titre</th>
                    <th>Résumé</th>
                    <th>Catégorie</th>
                    <th>Auteur</th>
                    <th>Actions</th>                
                </tr>
            </thead>
            <tbody>
                {% for item in wishes %}
                    <tr>
                        <td>{{ item.id}}</td>
                        <td>{{ item.title }}</td>
                        <td>{{ item.description[0:20] }}...</td>
                        <td>{{ item.category.name }}</td>
                        <td>{{ item.author }}</td>
                        <td>
                            <a href="{{ path('app_wish_detail',{id:item.id}) }}" class="btn btn-info"><i class="fa-solid fa-eye"></i></a>
                            <a href="{{ path('app_wish_edit',{id:item.id}) }}" class="btn btn-success"><i class="fa-solid fa-pen-to-square"></i></a>
                            {% include ("helper/_delete.html.twig") with { "id":item.id,"route":"app_wish_delete" } %}
                        </td>
                    </tr>
                {% endfor %} 
            </tbody>
        </table>
    </div>


 
</div>


{% endblock %}
